{
  # config file version
    "config_version" : "1.0.0",
    
    "run_forever"   : true,

  # time interval in seconds the data to be fetched from d-bacs interface
  # and published to onem2m server
    "read_interval" : 60,       # if p_p is true, hardly takes 7 sec, else
    #                               take 2min

  # publish to thingspeak
    "pub_thingspeak": false,

  # p_p --> publish using parallel requests
    "p_p"           : false,

  # onem2m configuration
    "onem2m"        : {
        "cse_ip"  : "onem2m.iiit.ac.in",
        "cse_port": "443",
        "https"   : false,
      # verify server certificate flag: default is true.
      # however, the dev server certificate is invalid and hence if running for
      # dev server, uncomment the following
        "verify"  : true,

        "mn"      : "/~/in-cse/in-name/",
        "ae"      : "AE-SR/SR-AC",
        "null"    : "nan",

      # p_p --> publish using parallel requests
        "p_p"     : true,
    },

  # bacnet configuration
    "bacnet"        : {
        "local_interface": {
            "object_name"           : "LivingLabs, BACnet app running in dev
            container to interface Daikin HVAC, SR-AC 47808",

          # Required,
          # use this network interface for the virtual device (incl port no.).
          # Eg: "device_address": "192.168.1.72/24:47808"
            "device_address"        : "10.4.20.198/20:47809",

          # ID of the Device object of the virtual bacnet device.
          # MUST be unique across the n/w
            "object_id"             : 599,

            "max_apdu_length"       : 1024,

            "segmentation_supported": "segmentedBoth",

            "apduSegmentTimeout"    : 5000,

            "apduTimeout"           : 3000,

            "numberOfApduRetries"   : 3,

          # Vendor ID of the virtual bacnet device.
            "vendor_id"             : 15,   # Defaults to 15

            "foreignTTL"            : 30,
        },

        "dest"           : {
          # required
          # eg: "device_address": "192.168.1.72:47808"
            "device_address": "10.2.24.2:47808",
        }

    },

  # thingspeak configurations
    "thingspeak"    : {
        "ep_url" : "https://api.thingspeak.com/update.json",
        "headers": {
            "Content-type"  : "application/json",
            "Content-Length": ""
        }
    },

  # list of d-bacs IDUs and corresponding onem2m sub container
    "nodes"         : {
        "node_0" : {
            "src_name"    : "0",
            "om2m_sub_cnt": "SR-AC-KH00-00",
            "ts_write_key": "TS_WK_0",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH00-00",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_1" : {
            "src_name"    : "1",
            "om2m_sub_cnt": "SR-AC-KH00-01",
            "ts_write_key": "TS_WK_1",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH00-01",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_2" : {
            "src_name"    : "2",
            "om2m_sub_cnt": "SR-AC-KH00-02",
            "ts_write_key": "TS_WK_2",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH00-02",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_3" : {
            "src_name"    : "3",
            "om2m_sub_cnt": "SR-AC-KH00-03",
            "ts_write_key": "TS_WK_3",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH00-03",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_4" : {
            "src_name"    : "4",
            "om2m_sub_cnt": "SR-AC-KH00-04",
            "ts_write_key": "TS_WK_4",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH00-04",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_5" : {
            "src_name"    : "5",
            "om2m_sub_cnt": "SR-AC-KH00-05",
            "ts_write_key": "TS_WK_5",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH00-05",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_6" : {
            "src_name"    : "6",
            "om2m_sub_cnt": "SR-AC-KH00-06",
            "ts_write_key": "TS_WK_6",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH00-06",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_7" : {
            "src_name"    : "7",
            "om2m_sub_cnt": "SR-AC-KH00-07",
            "ts_write_key": "TS_WK_7",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH00-07",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_8" : {
            "src_name"    : "8",
            "om2m_sub_cnt": "SR-AC-KH00-08",
            "ts_write_key": "TS_WK_8",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH00-08",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_14": {
            "src_name"    : "14",
            "om2m_sub_cnt": "SR-AC-KH01-00",
            "ts_write_key": "TS_WK_14",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH01-00",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_13": {
            "src_name"    : "13",
            "om2m_sub_cnt": "SR-AC-KH01-01",
            "ts_write_key": "TS_WK_13",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH01-01",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_12": {
            "src_name"    : "12",
            "om2m_sub_cnt": "SR-AC-KH01-02",
            "ts_write_key": "TS_WK_12",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH01-02",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_11": {
            "src_name"    : "11",
            "om2m_sub_cnt": "SR-AC-KH01-03",
            "ts_write_key": "TS_WK_11",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH01-03",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_25": {
            "src_name"    : "25",
            "om2m_sub_cnt": "SR-AC-KH01-04",
            "ts_write_key": "TS_WK_25",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH01-04",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_24": {
            "src_name"    : "24",
            "om2m_sub_cnt": "SR-AC-KH01-05",
            "ts_write_key": "TS_WK_24",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH01-05",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_23": {
            "src_name"    : "23",
            "om2m_sub_cnt": "SR-AC-KH01-06",
            "ts_write_key": "TS_WK_23",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH01-06",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_20": {
            "src_name"    : "20",
            "om2m_sub_cnt": "SR-AC-KH01-07",
            "ts_write_key": "TS_WK_20",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH01-07",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_21": {
            "src_name"    : "21",
            "om2m_sub_cnt": "SR-AC-KH01-08",
            "ts_write_key": "TS_WK_21",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH01-08",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_22": {
            "src_name"    : "22",
            "om2m_sub_cnt": "SR-AC-KH01-09",
            "ts_write_key": "TS_WK_22",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH01-09",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_37": {
            "src_name"    : "37",
            "om2m_sub_cnt": "SR-AC-KH01-10",
            "ts_write_key": "TS_WK_37",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH01-10",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_36": {
            "src_name"    : "36",
            "om2m_sub_cnt": "SR-AC-KH01-11",
            "ts_write_key": "TS_WK_36",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH01-11",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_35": {
            "src_name"    : "35",
            "om2m_sub_cnt": "SR-AC-KH01-12",
            "ts_write_key": "TS_WK_35",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH01-12",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_34": {
            "src_name"    : "34",
            "om2m_sub_cnt": "SR-AC-KH01-13",
            "ts_write_key": "TS_WK_34",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH01-13",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_33": {
            "src_name"    : "33",
            "om2m_sub_cnt": "SR-AC-KH01-14",
            "ts_write_key": "TS_WK_33",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH01-14",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_49": {
            "src_name"    : "49",
            "om2m_sub_cnt": "SR-AC-KH01-15",
            "ts_write_key": "TS_WK_49",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH01-15",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_48": {
            "src_name"    : "48",
            "om2m_sub_cnt": "SR-AC-KH01-16",
            "ts_write_key": "TS_WK_48",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH01-16",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_47": {
            "src_name"    : "47",
            "om2m_sub_cnt": "SR-AC-KH01-17",
            "ts_write_key": "TS_WK_47",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH01-17",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_46": {
            "src_name"    : "46",
            "om2m_sub_cnt": "SR-AC-KH01-18",
            "ts_write_key": "TS_WK_46",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH01-18",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_45": {
            "src_name"    : "45",
            "om2m_sub_cnt": "SR-AC-KH01-19",
            "ts_write_key": "TS_WK_45",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH01-19",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_17": {
            "src_name"    : "17",
            "om2m_sub_cnt": "SR-AC-KH02-00",
            "ts_write_key": "TS_WK_17",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-00",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_16": {
            "src_name"    : "16",
            "om2m_sub_cnt": "SR-AC-KH02-01",
            "ts_write_key": "TS_WK_16",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-01",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_15": {
            "src_name"    : "15",
            "om2m_sub_cnt": "SR-AC-KH02-02",
            "ts_write_key": "TS_WK_15",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-02",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_18": {
            "src_name"    : "18",
            "om2m_sub_cnt": "SR-AC-KH02-03",
            "ts_write_key": "TS_WK_18",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-03",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_19": {
            "src_name"    : "19",
            "om2m_sub_cnt": "SR-AC-KH02-04",
            "ts_write_key": "TS_WK_19",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-04",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_26": {
            "src_name"    : "26",
            "om2m_sub_cnt": "SR-AC-KH02-05",
            "ts_write_key": "TS_WK_26",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-05",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_27": {
            "src_name"    : "27",
            "om2m_sub_cnt": "SR-AC-KH02-06",
            "ts_write_key": "TS_WK_27",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-06",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_28": {
            "src_name"    : "28",
            "om2m_sub_cnt": "SR-AC-KH02-07",
            "ts_write_key": "TS_WK_28",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-07",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_29": {
            "src_name"    : "29",
            "om2m_sub_cnt": "SR-AC-KH02-08",
            "ts_write_key": "TS_WK_29",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-08",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_30": {
            "src_name"    : "30",
            "om2m_sub_cnt": "SR-AC-KH02-09",
            "ts_write_key": "TS_WK_30",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-09",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_32": {
            "src_name"    : "32",
            "om2m_sub_cnt": "SR-AC-KH02-10",
            "ts_write_key": "TS_WK_32",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-10",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_31": {
            "src_name"    : "31",
            "om2m_sub_cnt": "SR-AC-KH02-11",
            "ts_write_key": "TS_WK_31",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-11",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_44": {
            "src_name"    : "44",
            "om2m_sub_cnt": "SR-AC-KH02-12",
            "ts_write_key": "TS_WK_44",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-12",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_43": {
            "src_name"    : "43",
            "om2m_sub_cnt": "SR-AC-KH02-13",
            "ts_write_key": "TS_WK_43",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-13",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_42": {
            "src_name"    : "42",
            "om2m_sub_cnt": "SR-AC-KH02-14",
            "ts_write_key": "TS_WK_42",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-14",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_41": {
            "src_name"    : "41",
            "om2m_sub_cnt": "SR-AC-KH02-15",
            "ts_write_key": "TS_WK_41",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-15",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_40": {
            "src_name"    : "40",
            "om2m_sub_cnt": "SR-AC-KH02-16",
            "ts_write_key": "TS_WK_40",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-16",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_39": {
            "src_name"    : "39",
            "om2m_sub_cnt": "SR-AC-KH02-17",
            "ts_write_key": "TS_WK_39",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-17",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_38": {
            "src_name"    : "38",
            "om2m_sub_cnt": "SR-AC-KH02-18",
            "ts_write_key": "TS_WK_38",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-18",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_50": {
            "src_name"    : "50",
            "om2m_sub_cnt": "SR-AC-KH02-19",
            "ts_write_key": "TS_WK_50",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-19",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_51": {
            "src_name"    : "51",
            "om2m_sub_cnt": "SR-AC-KH02-20",
            "ts_write_key": "TS_WK_51",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-20",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_52": {
            "src_name"    : "52",
            "om2m_sub_cnt": "SR-AC-KH02-21",
            "ts_write_key": "TS_WK_52",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-21",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_54": {
            "src_name"    : "54",
            "om2m_sub_cnt": "SR-AC-KH02-22",
            "ts_write_key": "TS_WK_54",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-22",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_53": {
            "src_name"    : "53",
            "om2m_sub_cnt": "SR-AC-KH02-23",
            "ts_write_key": "TS_WK_53",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-23",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_55": {
            "src_name"    : "55",
            "om2m_sub_cnt": "SR-AC-KH02-24",
            "ts_write_key": "TS_WK_55",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH02-24",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_67": {
            "src_name"    : "67",
            "om2m_sub_cnt": "SR-AC-KH03-00",
            "ts_write_key": "TS_WK_67",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH03-00",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_66": {
            "src_name"    : "66",
            "om2m_sub_cnt": "SR-AC-KH03-01",
            "ts_write_key": "TS_WK_66",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH03-01",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_73": {
            "src_name"    : "73",
            "om2m_sub_cnt": "SR-AC-KH03-02",
            "ts_write_key": "TS_WK_73",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH03-02",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_65": {
            "src_name"    : "65",
            "om2m_sub_cnt": "SR-AC-KH03-03",
            "ts_write_key": "TS_WK_65",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH03-03",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_64": {
            "src_name"    : "64",
            "om2m_sub_cnt": "SR-AC-KH03-04",
            "ts_write_key": "TS_WK_64",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH03-04",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_68": {
            "src_name"    : "68",
            "om2m_sub_cnt": "SR-AC-KH03-05",
            "ts_write_key": "TS_WK_68",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH03-05",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_69": {
            "src_name"    : "69",
            "om2m_sub_cnt": "SR-AC-KH03-06",
            "ts_write_key": "TS_WK_69",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH03-06",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_70": {
            "src_name"    : "70",
            "om2m_sub_cnt": "SR-AC-KH03-07",
            "ts_write_key": "TS_WK_70",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH03-07",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_71": {
            "src_name"    : "71",
            "om2m_sub_cnt": "SR-AC-KH03-08",
            "ts_write_key": "TS_WK_71",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH03-08",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_72": {
            "src_name"    : "72",
            "om2m_sub_cnt": "SR-AC-KH03-09",
            "ts_write_key": "TS_WK_72",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH03-09",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_74": {
            "src_name"    : "74",
            "om2m_sub_cnt": "SR-AC-KH03-10",
            "ts_write_key": "TS_WK_74",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH03-10",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_75": {
            "src_name"    : "75",
            "om2m_sub_cnt": "SR-AC-KH03-11",
            "ts_write_key": "TS_WK_75",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH03-11",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_76": {
            "src_name"    : "76",
            "om2m_sub_cnt": "SR-AC-KH03-12",
            "ts_write_key": "TS_WK_76",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH03-12",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_77": {
            "src_name"    : "77",
            "om2m_sub_cnt": "SR-AC-KH03-13",
            "ts_write_key": "TS_WK_77",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH03-13",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_84": {
            "src_name"    : "84",
            "om2m_sub_cnt": "SR-AC-KH03-14",
            "ts_write_key": "TS_WK_84",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH03-14",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_85": {
            "src_name"    : "85",
            "om2m_sub_cnt": "SR-AC-KH03-15",
            "ts_write_key": "TS_WK_85",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH03-15",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_82": {
            "src_name"    : "82",
            "om2m_sub_cnt": "SR-AC-KH03-16",
            "ts_write_key": "TS_WK_82",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH03-16",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_83": {
            "src_name"    : "83",
            "om2m_sub_cnt": "SR-AC-KH03-17",
            "ts_write_key": "TS_WK_83",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH03-17",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_78": {
            "src_name"    : "78",
            "om2m_sub_cnt": "SR-AC-KH03-18",
            "ts_write_key": "TS_WK_78",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH03-18",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_79": {
            "src_name"    : "79",
            "om2m_sub_cnt": "SR-AC-KH03-19",
            "ts_write_key": "TS_WK_79",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH03-19",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_80": {
            "src_name"    : "80",
            "om2m_sub_cnt": "SR-AC-KH03-20",
            "ts_write_key": "TS_WK_80",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH03-20",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_81": {
            "src_name"    : "81",
            "om2m_sub_cnt": "SR-AC-KH03-21",
            "ts_write_key": "TS_WK_81",
            "label"       : [
                    "AE-SR-AC",
                    "SR-AC-KH03-21",
                    "V1.0.1",
                    "SR-AC-V1.0.1"
            ]
        },
        "node_90" : {
            "src_name"    : "128",
            "om2m_sub_cnt": "SR-AC-KH95-00",
            "ts_write_key": "TS_WK_128",
            "label"  : [
                "AE-SR-AC",
                "SR-AC-KH95-00",
                "V1.0.1",
                "SR-AC-V1.0.1"
            ],
        },
        "node_91" : {
            "src_name"    : "129",
            "om2m_sub_cnt": "SR-AC-KH95-01",
            "ts_write_key": "TS_WK_129",
            "label"  : [
                "AE-SR-AC",
                "SR-AC-KH95-01",
                "V1.0.1",
                "SR-AC-V1.0.1"
            ],
        },
        "node_92" : {
            "src_name"    : "130",
            "om2m_sub_cnt": "SR-AC-KH95-02",
            "ts_write_key": "TS_WK_130",
            "label"  : [
                "AE-SR-AC",
                "SR-AC-KH95-02",
                "V1.0.1",
                "SR-AC-V1.0.1"
            ],
        },
        "node_93" : {
            "src_name"    : "131",
            "om2m_sub_cnt": "SR-AC-KH95-03",
            "ts_write_key": "TS_WK_131",
            "label"  : [
                "AE-SR-AC",
                "SR-AC-KH95-03",
                "V1.0.1",
                "SR-AC-V1.0.1"
            ],
        },
        "node_94" : {
            "src_name"    : "132",
            "om2m_sub_cnt": "SR-AC-KH95-04",
            "ts_write_key": "TS_WK_132",
            "label"  : [
                "AE-SR-AC",
                "SR-AC-KH95-04",
                "V1.0.1",
                "SR-AC-V1.0.1"
            ],
        },
        "node_95" : {
            "src_name"    : "133",
            "om2m_sub_cnt": "SR-AC-KH00-09",
            "ts_write_key": "TS_WK_133",
            "label"  : [
                "AE-SR-AC",
                "SR-AC-KH00-09",
                "V1.0.1",
                "SR-AC-V1.0.1"
            ],
        },
        "node_96" : {
            "src_name"   : "134",
            "om2m_sub_cnt": "SR-AC-KH00-10",
            "ts_write_key": "TS_WK_134",
            "label"  : [
                "AE-SR-AC",
                "SR-AC-KH00-10",
                "V1.0.1",
                "SR-AC-V1.0.1"
            ],
        },
        "node_97" : {
            "src_name"    : "135",
            "om2m_sub_cnt": "SR-AC-KH00-11",
            "ts_write_key": "TS_WK_135",
            "label"  : [
                "AE-SR-AC",
                "SR-AC-KH00-11",
                "V1.0.1",
                "SR-AC-V1.0.11"
            ],
        },
        "node_98" : {
            "src_name"    : "136",
            "om2m_sub_cnt": "SR-AC-KH00-12",
            "ts_write_key": "TS_WK_136",
            "label"  : [
                "AE-SR-AC",
                "SR-AC-KH00-12",
                "V1.0.1",
                "SR-AC-V1.0.1"
            ],
        },
        "node_99" : {
            "src_name"    : "137",
            "om2m_sub_cnt": "SR-AC-KH00-13",
            "ts_write_key": "TS_WK_137",
            "label"  : [
                "AE-SR-AC",
                "SR-AC-KH00-13",
                "V1.0.1",
                "SR-AC-V1.0.1"
            ],
        },
        "node_100": {
            "src_name"   : "138",
            "om2m_sub_cnt": "SR-AC-KH00-14",
            "ts_write_key": "TS_WK_138",
            "label"  : [
                "AE-SR-AC",
                "SR-AC-KH00-14",
                "V1.0.1",
                "SR-AC-V1.0.1"
            ],
        },
        "node_101": {
            "src_name"    : "139",
            "om2m_sub_cnt": "SR-AC-KH00-15",
            "ts_write_key": "TS_WK_139",
            "label"  : [
                "AE-SR-AC",
                "SR-AC-KH00-15",
                "V1.0.1",
                "SR-AC-V1.0.1"
            ],
        },
        "node_102": {
            "src_name"    : "140",
            "om2m_sub_cnt": "SR-AC-KH00-16",
            "ts_write_key": "TS_WK_140",
            "label"  : [
                "AE-SR-AC",
                "SR-AC-KH00-16",
                "V1.0.1",
                "SR-AC-V1.0.1"
            ],
        },
        "node_103": {
            "src_name"    : "141",
            "om2m_sub_cnt": "SR-AC-KH00-17",
            "ts_write_key": "TS_WK_141",
            "label"  : [
                "AE-SR-AC",
                "SR-AC-KH00-17",
                "V1.0.1",
                "SR-AC-V1.0.1"
            ],
        },
        "node_104": {
            "src_name"    : "142",
            "om2m_sub_cnt": "SR-AC-KH00-18",
            "ts_write_key": "TS_WK_142",
            "label"  : [
                "AE-SR-AC",
                "SR-AC-KH00-18",
                "V1.0.1",
                "SR-AC-V1.0.1"
            ],
        },
    },

  # Sensors -
  #    1. Room Temp,
  #    2. Temp Adjust,
  #    3. Start Stop Status,
  #    4. Alarm,
  #    5. Malfunction Code,
  #    6. Air Con Mode Status,
  #    7. Air Flow Rate Status,
  #    8. Filter Sign,
  #    9. Gas Total Power,
  #    10. Elec Total Power,
  #    11. Air Direction Status,
  #    12. Forced Thermo OFF Status,
  #    13. Energy Efficiency Status,
  #    14. Thermo Status,
  #    15. Compressor Status,
  #    16. Indoor Fan Status,
  #    17. Heater Status
  # list of sensor connected to the d-bacs interface
  # also corresponding onem2m container
  # Note:
  #         1. first sensor, i.e. 'sensor_0' need to be timestamp
  #         2. the sensor order is used to for comma separated ordering
  #         3. make flag false, if a particular sensor value is not required
    "sensors"       : {
        "sensor_0" : {
            "src_name": "Time Stamp",
            "om2m_cnt": "Time Stamp",
            "ts_field": "created_at",
            "flag"    : true,
            "mround"  : 60,
        },
        "sensor_1" : {
            "src_name" : "9",
            "om2m_cnt" : "Room Temp",
            "ts_field" : "field1",
            "flag"     : true,
            "mround"   : 0.01,
            "data_type": "analogInput",
        },
        "sensor_2" : {
            "src_name" : "10",
            "om2m_cnt" : "Temp Adjust",
            "ts_field" : "field2",
            "flag"     : true,
            "mround"   : 0.01,
            "data_type": "analogValue",
        },
        "sensor_3" : {
            "src_name" : "2",
            "om2m_cnt" : "Start Stop Status",
            "ts_field" : "field3",
            "flag"     : true,
            "mround"   : 1,
            "data_type": "binaryInput",
        },
        "sensor_4" : {
            "src_name" : "3",
            "om2m_cnt" : "Alarm",
            "ts_field" : "field3",
            "flag"     : true,
            "mround"   : 1,
            "data_type": "binaryInput",
        },
        "sensor_5" : {
            "src_name" : "4",
            "om2m_cnt" : "Malfunction Code",
            "ts_field" : "field3",
            "flag"     : true,
            "mround"   : 1,
            "data_type": "multiStateInput",
        },
        "sensor_6" : {
            "src_name" : "6",
            "om2m_cnt" : "Air Con Mode Status",
            "ts_field" : "field3",
            "flag"     : true,
            "mround"   : 1,
            "data_type": "multiStateInput",
        },
        "sensor_7" : {
            "src_name" : "8",
            "om2m_cnt" : "Air Flow Rate Status",
            "ts_field" : "field4",
            "flag"     : true,
            "mround"   : 1,
            "data_type": "multiStateInput",
        },
        "sensor_8" : {
            "src_name" : "11",
            "om2m_cnt" : "Filter Sign",
            "ts_field" : "field4",
            "flag"     : true,
            "mround"   : 1,
            "data_type": "binaryInput",
        },
        "sensor_9" : {
            "src_name" : "18",
            "om2m_cnt" : "Gas Total Power",
            "ts_field" : "field5",
            "flag"     : true,
            "mround"   : 0.01,
            "data_type": "accumulator",
        },
        "sensor_10": {
            "src_name" : "19",
            "om2m_cnt" : "Elec Total Power",
            "ts_field" : "field6",
            "flag"     : true,
            "mround"   : 0.01,
            "data_type": "accumulator",
        },
        "sensor_11": {
            "src_name" : "23",
            "om2m_cnt" : "Air Direction Status",
            "ts_field" : "field7",
            "flag"     : true,
            "mround"   : 1,
            "data_type": "analogInput",
        },
        "sensor_12": {
            "src_name" : "25",
            "om2m_cnt" : "Forced Thermo OFF Status",
            "ts_field" : "field8",
            "flag"     : true,
            "mround"   : 1,
            "data_type": "binaryInput",
        },
        "sensor_13": {
            "src_name" : "27",
            "om2m_cnt" : "Energy Efficiency Status",
            "ts_field" : "None",
            "flag"     : true,
            "mround"   : 1,
            "data_type": "binaryInput",
        },
        "sensor_14": {
            "src_name" : "28",
            "om2m_cnt" : "Thermo Status",
            "ts_field" : "None",
            "flag"     : true,
            "mround"   : 1,
            "data_type": "binaryInput",
        },
        "sensor_15": {
            "src_name" : "29",
            "om2m_cnt" : "Compressor Status",
            "ts_field" : "None",
            "flag"     : true,
            "mround"   : 1,
            "data_type": "binaryInput",
        },
        "sensor_16": {
            "src_name" : "30",
            "om2m_cnt" : "Indoor Fan Status",
            "ts_field" : "None",
            "flag"     : true,
            "mround"   : 1,
            "data_type": "binaryInput",
        },
        "sensor_17": {
            "src_name" : "31",
            "om2m_cnt" : "Heater Status",
            "ts_field" : "None",
            "flag"     : true,
            "mround"   : 1,
            "data_type": "binaryInput",
        }
    }
}